@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff3811;
}
@theme {
  --color-Dark-01: #151515;
  --color-Dark-02: #444444;
  --color-Dark-03: #737373;
  --color-Dark-06: #E8E8E8;
}
